<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>homepage</h1>
    <p> Hey this is a homepage you can surely work on that</p>
  </body>
</html>
